.about-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color:lightgoldenrodyellow;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .mainbody1{
    /* background-image:url("https://i.pngimg.me/thumb/f/720/comrawpixel4012543.jpg"); */
    background-image:url("https://images8.alphacoders.com/129/thumbbig-1290199.webp");
    height: 97.5vh;
    background-repeat: no-repeat;
    background-size: cover;
}
  
  .abouthead {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .aboutpara1 {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .signature {
    font-style: italic;
    text-align: right;
    color: #888;
  }
  