.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: black;
  background-image: url("https://images.freeimages.com/variants/UjfykfuneAD5jME5SisA97gT/f4a36f6589a0e50e702740b15352bc00e4bfaf6f58bd4db850e167794d05993d");
  background-repeat: no-repeat;
  background-size:cover;
  width: 50px;
}
@media screen and (min-width: 600px) {
  .auth-form-container {
    height:80vh;
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    background-image: url("https://img.freepik.com/free-photo/top-view-circular-food-frame_23-2148723455.jpg?w=1380&t=st=1689094296~exp=1689094896~hmac=591e597535bc19aeb4db7c60e367f96b1dc699708879c695c8ecc4df9ef88024");
    background-repeat: no-repeat;
  background-size: cover;
  margin-bottom:auto  ;
  background-attachment: fixed;
  }
}