.NavBar{
    background-color: rgb(26, 1, 72) !important;
    opacity: 50%;
}

.Account{
    margin-left: 50vw;
}

.menu{
    color: white !important;
}

.nav {
    color:white !important;
}
.nav:hover{
    background-color: white !important;
    color:rgba(19, 1, 72, 0.8) !important;
}
.navigation{
    position: absolute;
}