*{
  margin: 0;
  padding: auto;
}
.body1{
  /* background:url('wall13.jpg'); */
  background-image:url("https://i.pngimg.me/thumb/f/720/comrawpixel4012543.jpg");
  height: 97.5vh;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position:center;
  background-size: cover;
  margin-top: 2rem;
  height: 160vh;
  background-attachment: fixed;
}
h3{
  font-size: 40px;
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.logo{
  
  /* background-image: url('book1.1.png');  */
  height:262px;
  background-position:center;
  background-size: cover;
  /* background-color: red; */
  background-repeat: no-repeat;
  /* position:fixed; */
  width: 192px;
  margin-left: 2cm;
 

}
.gallery{
  cursor: pointer;
          border: none;
          width: 400px;
          float:left;
          background:transparent;
          color:white;
          margin-left:2cm;
          margin-top: 40PX;
          justify-content: center;
          opacity: 95%;
          border-radius: 20px;
          font-size: 13px;
        }
        .gallery:hover{
          font-size: 13px;
          color: red;
          border: none;
          opacity: 100%;
           background-color: rgb(220, 222, 245); 
}
.desc{
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  /* margin-left: 1.5cm; */
  text-align: center;
  background-color: rgb(54, 39, 251);
  border-radius: 95px;
  font-weight: bold;
}
.desc:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(54, 39, 251);
}
.aa{
  margin-left: 2.7cm;
}
#searchbar{
  margin-left: 15%;
  padding:15px;
  border-radius: 10px;
  background: black;
  color:white;
  width: 70%;
}
.season{
  font-size: 35px;
  width: 100%;
  /* margin-top: .2cm; */
  color: rgb(164, 65, 7);
}

