.upload-container1 {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.imgin1{
    /* background-image:url("https://i.pngimg.me/thumb/f/720/comrawpixel4012543.jpg"); */
    background-image:url("https://static.toiimg.com/thumb/84917454.cms?width=680&height=512&imgsize=185872");
    height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.upload-heading1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.form-label1 {
  display: block;
  margin-top: 20px;
  font-weight: bold;
  color: #333;
}

.input-field1 {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: #333;
}

.textarea-field1 {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: #333;
  resize: vertical;
}

.submit-button1 {
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button1:hover {
  background-color: #5246de;
}

.submit-button1:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit-button1:disabled:hover {
  background-color: #ccc;
}

